/* Layout */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.w50 {
  width: 50%;
}

/* header */

header {
  height: 550px;
  background-color: #0c325a;
}

.header-container {
  width: 100%;
  height: 100%;
  padding: 0 10%; /* cosi abbiamo un spazio di 10 e 10 e quindi è come avere width 80% */
  min-width: 1400px;
  background-image: url(../img/background-header.png);
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: 115% 100%;
}

.nav {
  height: 80px;
  line-height: 80px;
  width: 100%;
  overflow: hidden;
}

.nav-logo {
  width: 15%;
}

.nav-logo img {
  margin-top: 15px;
}

.nav-list-center {
  width: 45%;
}

.nav-list-right {
  width: 40%;
  text-align: right;
}

/* comandi lista */

.menu-inline {
  list-style: none;
}

.menu-inline li {
  display: inline;
  padding: 0 10px;
}

.menu-inline li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 80%;
}

/* buttons */

.btn {
  display: inline-block;
  color: white;
  border-radius: 5px;
  line-height: 20px;
  padding: 5px 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 80%;
}

.btn-large {
  padding: 20px;
}

.btn-blue {
  border: 1px solid white;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-green {
  background-color: #7cbb04;
}

/* title */
.jumbotron {
  position: relative;
  height: 470px;
}

.jumbotron-text {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
}

.jumbotron-text h1 {
  color: white;
  font-size: 350%;
  margin-bottom: 30px;
}

/* main */
.bgray{ 
  width: 100%;
  height: 130px;
  background-color: #d3d3d3;
}

.text-gray{
  position: relative;
  width: 100%;
  height: 100%;
}

.bgray h2{

  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bgray p{
  font-size: 1.2em;
  color: grey;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.mainfloat{
  width: 100%;
  height: 400px;
  
}

.img-left{
  width: 20%;
  height: 90%;
  margin-left: 15%;
  margin-top: 2%;
  margin-bottom: 5%;
  display: inline-block;
  position: relative;
}

.img-left img{
  height: 40%;
  width: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
}

.img-center{
  width: 20%;
  height: 90%;
  margin: 2% 5%;
  display: inline-block;
  position: relative;
}

.img-center img{
  width: 50%;
  height: 40%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
}


.img-right{
  width: 20%;
  height: 90% ;
  margin: 2% 0%;
  display: inline-block;
  position: relative;
}

.img-right img{
  width: 50%;
  height: 40%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
}

.mainfloat h3{
  text-align: center;
  width: 100%;
  position: absolute;
  top: 40%;
  color: #7cbb04;
}

.mainfloat .line{
  position: absolute;
  width: 25%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainfloat .line hr{
  border: 1px solid #e6e0e0;
}

.textfloat{
  font-size: 0.75em;
  text-align: center;
  color: gray;
  position: absolute;
  top: 65%;
  line-height: 1.5em;
}

.growt{
  width: 100%;
  height: 600px;
  background-color: white;
}

hr{
  border: 1px solid #e6e0e0;
}

.growt img{
  width: 30%;
  height: 90%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 15%;
  margin-right: 5%;
}

.growt .text-growt{
  display: inline-block;
  width: 30%;
  height: 90%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 15%;
  text-align: left;
  position: relative;
}

.text-growt h2{
  position: absolute;
  top: 10%;
}

.text-growt p{
  position: absolute;
  top: 23%;
  font-size: 1.1em;
  color: gray;
}

.text-growt a{
  position: absolute;
  top: 35%;
  color:#3789e2;
  text-decoration: none;

}